body {
    border: 15px solid #ddd6d6;
    padding:15px;
    /* set the max width of the element */
    max-width:700px;  
    /* the use percent width to make it shrink pro portionalyt
    *   when it can no longer be 700px wide */
    width:80%;
    margin:15px auto;


}